page-home {

    .space {
        width: 50%;
        margin: 0 auto;
    }

    .background {
        background-image: url('http://video.wixstatic.com/video/11062b_35e9c1a919df41df8b95c20340739349/1080p/mp4/file.mp4');
    }
}
